@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

.wallet-adapter-button-trigger {
  background: rgb(61, 106, 173) !important;
  border-radius: 8px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  font-family: inherit !important;
}

.halo-effect {
  background-image: radial-gradient(circle 200px at center top, rgba(71, 85, 105, 0.3), transparent);
}

.halo-effect-dark {
  background-image: radial-gradient(circle 200px at center top, rgba(71, 85, 105, 0.5), transparent);
}
